body {
  color: rgb(221, 215, 215);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
  background:url('../images/xps-g2E2NQ5SWSU-unsplash.jpg') no-repeat right bottom fixed;
  background-size: cover;
}
section {
  max-width: 768px;
}
a {
  text-decoration: none;
}
a:link, a:hover, a:visited {
  color:#fff;
  text-decoration:none;
  text-shadow:1px 1px 0 #283744;
}
.inner {
  width: 700px;
  margin: 0 auto;
  position: relative;
}
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}


/* HEADER */
/** Mobile 화면 **/
header {
  width: 100%;  
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
  top: 0;
  z-index: 9;
}
header nav {
  width: 100%;
  height: auto;
  background: #34495e;  
}
header nav ul {
  display: none;
  height: auto;
}
header nav ul li {
  display: block;
  width: 100%;
  text-align:center;
  border-bottom: 1px solid #576979; 
}
header nav ul li a{
  line-height: 50px;
}
header nav a#trigger {
  display:block;
  background-color:#283744;
  width:100%;
  padding-left:15px;
  line-height:40px;    
  position:relative;
}
header nav a#trigger::after {
  content:"";
  background:url('../images/nav.png') no-repeat;
  width:30px;
  height:30px;
  display:inline-block;
  position: absolute;
  right:15px;
  top:10px;
}

/** Desktop 화면 **/
@media screen and (min-width:721px){
  header nav {
    height: 40px;
    border-bottom: 2px solid #34495e;
    /* display: none; */
  }
  header nav ul {
    display: block;
    width: 900px;
    height: 40px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }
  header nav ul li {
    display: inline-block;
    width: 120px;
    border-bottom: 0;
    border-right: 1px solid #576979;
    margin-right: -6px;
  }
  header nav ul li:list-child{
    border-right: 0;
  }
  header ul li a {
    font-size: 1em;
    line-height: 40px;
  }
  header nav a#trigger {
    display:none;
  }

}


/* About */
.about {
  position: relative;
  background-color: palevioletred;
  /* height: 70px; */
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

/* Skills */
.skills {
  position: relative;
  background-color: palevioletred;
  margin: 0 auto;
  /* height: 70px; */
  /* margin: 50px auto;
  display: flex;
  justify-content: center; */
}
.skills h2{
  padding: 10px;
  display: flex;
  justify-content: center;
}
.skills .inner {
  display: flex;
  justify-content: center;
}
.skills .inner img {
  
  height: 70px;
}


/* Career */
.career {
  position: relative;
  background-color: palevioletred;
  /* height: 70px; */
  margin: 50px auto;
  display: flex;
  justify-content: center;
}


/* Projects */

.projects {
  background-color: royalblue;
  border-radius: 10px;
  position: relative;
  top:60px;
  max-width: 700px;
  padding: 10px;
  margin: 0 auto;  
}
.projects .inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects .inner h2 {
  
}
.projects .inner .project_item {
  background-color: orange;
  width: 190px;
  height: 250px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  box-sizing: border-box;     

}
.projects .inner .project_item a {
  margin: 0 auto;
}

/* Contact */
#contact {
  position: relative;
  background-color: palevioletred;
  /* height: 70px; */
  margin: 50px auto;
  display: flex;
  justify-content: center;
}
#contact .inner {
  display: flex;
  justify-content: center;
}