* {
  scroll-behavior: smooth;  
  font-size: 16px;
  color:#2a2725;
}

body {
  color: rgb(221, 215, 215);    
  font-weight: 400;
  line-height: 1.4;
  /* font-family: 'Nanum Gothic', sans-serif; */
  font-family: 'Roboto', sans-serif;  
  background-size: cover;  
}
section {
  width: 1120px;
  /* min-height: 800px; */
  margin:0 auto;
  padding: 10px;
  border-radius: 4px;  
}
a {
  text-decoration: none;
}
a:link, a:hover, a:visited {
  color:#fff;
  text-decoration:none;
  text-shadow:1px 1px 0 #283744;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
  font-weight: 700;
}
h4 {
  font-size: 1rem;
  font-weight: 700;
}
.inner {
  margin: 0 auto;
  position: relative;
}
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}
.border {
  width: 700px;
  border-top: 1px dotted #ddd;
  margin: 0 auto;
}


/* HEADER */
/** Mobile 화면 **/
header {
  width: 100%;  
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
  top: 0;
  z-index: 9;
}
header nav {
  width: 100%;
  height: auto;
  background: #34515e;  
}
header nav ul {
  display: none;
  height: auto;
}
header nav ul li {
  display: block;
  width: 100%;
  text-align:center;
  border-bottom: 1px solid #576979; 
}
header nav ul li a{
  /* line-height: 50px; */
}
header nav a#trigger {
  display:block;
  background-color:#283744;
  width:100%;
  padding-left:15px;
  line-height:40px;    
  position:relative;
}
header nav a#trigger::after {
  content:"";
  background:url('../images/nav.png') no-repeat;
  width:30px;
  height:30px;
  display:inline-block;
  position: absolute;
  right:15px;
  top:10px;
}


/** Desktop 화면 **/
@media screen and (min-width:721px){
  header nav {
    height: 40px;
    border-bottom: 2px solid #34495e;
    /* display: none; */
  }
  header nav ul {
    display: block;
    width: 900px;
    height: 40px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }
  header nav ul li {
    display: inline-block;
    width: 120px;
    border-bottom: 0;
    border-right: 1px solid #576979;
    margin-right: -6px;
    box-sizing: border-box;
  }
  header nav ul li:list-child{
    border-right: 0;
  }
  header ul li a {
    font-size: 1rem;
    line-height: 40px;
  }
  header nav a#trigger {
    display:none;
  }  

}

.myname {
  position: relative;
  /* background-color: rgba(223, 227, 236, 0.5); */
  margin: 0 auto;
  padding: 120px 100px 20px;
  box-sizing: border-box;  
  color:rgb(39, 36, 39);
  font-weight: 700;
  text-align: center;
  
}

.myname .photos {
  margin-top: 30px;
  display: flex;
  justify-content: center;  
}
.myname .photos .photo {
  flex-shrink: 0;
  width: 260px;
  height: 260px;  
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 50%;
  border: 24px solid white;  
}
.myname .photos .photo:first-child {
  margin-right: -80px;
} 
.myname .photos .photo img {
  width: 100%;
  height: 100%;  
}

.myname .inline_block {
  position: relative;
  left: 80px;
  padding: 80px 150px 0;  
}

.myname .inline_block .skills {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 400;
  /* margin: 4px 0; */
}
.myname .inline_block .skills:nth-child(4) {
  color: #878787;
}
.myname .inline_block .skills:nth-child(4) h4{
  color: #878787;
}
.myname .inline_block .skills img {
  height: 20px;
  padding: 6px;   
}




/* Projects */

.projects {
  /* background-color: rgba(223, 227, 236, 0.5); */
  position: relative;  
  margin: 0 auto;  
  padding: 20px 0 60px;
  align-items: center;
}
.projects h2 {
  font-weight: 700;
  padding: 80px 0 50px;
  color:rgb(39, 36, 39);
  text-align: center;
}
.projects .inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects .inner .project_item {
  position: relative;    
}
.projects .inner .project_item .image {
  /* background-color: rgba(204, 204, 202, 0.8); */
  width: 300px;
  height: 250px;
  margin: 5px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  box-sizing: border-box;  
  overflow: hidden; 
  background-size: 300px;
  background-repeat: no-repeat;    
  display: flex;  
  position: relative;  
}


.projects .inner .project_item a {
  display: none;  
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left:0;
  bottom: 0;
  right:0;
  
  font-size: 18px; 
  transition: 1.5s;
}

.projects .inner .project_item:hover a {  
  display: block;   
  text-align: center; 
  padding-top: 14px;
  text-shadow: none;  
}
.projects .inner .project_item:hover a h4 {
  color:#373737;
}
.projects .inner .project_item:hover a p {
  color:#373737;
  font-size: 14px;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
}
.projects .inner .project_item:hover .image::after {
  content: "";  
  background-color: rgba(204, 204, 202, 0.8);
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height:100%;    
}
.projects .inner .project_item:nth-child(1) .image {
  background-image: url('../images/willog.jpg');    
}
.projects .inner .project_item:nth-child(2) .image {
  background-image: url('../images/mybook.jpg');
}
.projects .inner .project_item:nth-child(3) .image {
  background-image: url('../images/svelte_omdb.jpg');
}
.projects .inner .project_item:nth-child(4) .image {
  background-image: url('../images/starbugs.png');    
}
.projects .inner .project_item:nth-child(5) .image {
  background-image: url('../images/pyblog.png');    
}

/* About */
.about {
  position: relative;
  padding: 20px 0 60px;
  /* background-color: rgba(223, 227, 236, 0.5);   */   
  /* display: flex;
  justify-content: center; */
  width: 700px;
  align-items: center;
  color:rgb(39, 36, 39);
}
.about h2 {
  padding: 80px 0 50px;
  text-align: center;
  font-weight: 700;
}
.about .description {
  
  font-size: 13px;  
}
.about .description .abstract {
  font-weight: 700;
  font-style: italic;
  text-align: center;
  margin: auto;
}
.about .sub_title {
  font-size: 18px;  
}
.about li {
  font-size: 13px;  
}


/* Contact */
.contacts {
  position: relative;
  /* background-color: rgba(223, 227, 236, 0.5); */
  /* height: 70px; */
  margin: auto;
  padding: 30px 0 30px;  
}
.contacts h2 {
  font-weight: 700;
  padding: 80px 0 40px;
  color:rgb(39, 36, 39);
  /* color: cyan; */
  text-align: center;
}
.contacts .inner {
  display: flex;
  justify-content: center;
}
.contacts .inner ul li {
  color: black;
  
}
.contacts .inner ul li img{
  width: 30px;
  background-color: #CCC;
  padding: 3px;
  margin: 5px;
  border-radius: 15px;
  vertical-align: middle;
  transition: .5s;
}
.contacts .inner ul li a{
  color: black;
  text-shadow:none;
}
.contacts .inner ul li:hover {
  background-color:rgb(110, 88, 235);
  border-radius: 5px;
}
#to-top {
  width: 42px;
  height: 42px;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}
#to-top .material-icons{
  color:#fff;
}