* {
  scroll-behavior: smooth;
  font-size: 16px;
  color: #2a2725;  
}

body {
  color: rgb(221, 215, 215);
  font-weight: 400;
  line-height: 1.4;
  /* font-family: 'Nanum Gothic', sans-serif; */
  font-family: 'Oswald', 'Noto Sans KR', sans-serif;
  background-size: cover;
}
section {
  /* width: 1120px; */
  /* min-height: 800px; */
  margin: 10 auto;
  padding: 0 10px 10px;
  border-radius: 4px;
}
a {
  text-decoration: none;
}
a:link,
a:hover,
a:visited {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 0 #283744;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
  font-weight: 700;
}
h4 {
  font-size: 1rem;
  font-weight: 700;
}
.inner {
  margin: 0 auto;
  position: relative;
}
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: 0.3s;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}
.border {
  width: 90%;
  border-top: 1px dotted #ddd;
  margin: 0 auto;
}

.background{
  position: absolute;
  top: -20px;
  width: 100%;
  height: 700px;
}
.background::after{
  content: "";
  background-image: url('/images/background.jpg');
  background-color: rgba(5, 187, 233, 0.3);
  background-size: cover;
  filter: opacity(0.5) drop-shadow(0 0 0 rgb(11, 13, 14));
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index:-1;
}

/* HEADER */
  
.header {    
  position: fixed;
  width:100%;
  /* max-width: 71.25rem; */
  margin: 0 auto;
  padding: 5px 5px;
  background:#74c5d1;
  z-index: 5;
}
.header .inner {
  max-width: 100%;
  
}

.header .inner .home{
  display: inline-block;
}
.header .inner .home a{
  font-size: 30px;
  color:whitesmoke;
  text-shadow: 2px 2px black;
}
.header .inner .menu{
  float: right;
  font-size: 25px;    
}
.header .inner .menu .menu_el {
  display: inline-block;
  height: 40px;
  padding: 0 20px 0;
  margin: 0 auto;
  text-align: center;
  width: 150px;
  border-bottom: 0;
  border-right: 1px solid wheat;
  margin-right: -6px;
  box-sizing: border-box;
}
.header .inner .menu .menu_el:last-child {
  border-right: 0;
} 
.header .inner .menu .menu_el a{
  color:whitesmoke;
  text-shadow: 2px 2px black;
}
.header .inner a#trigger {
  display: none;
}
/** Mobile 화면 **/
@media screen and (max-width: 721px) {   
  .header {
    width: 100%;
    border-bottom: 1px solid #c8c8c8;
    position: fixed;
    top: 0;
    z-index: 9;
  }
  .header .inner {
    width: 100%;
    height: auto;
    background: #34515e;
  }
  .header .inner .home{
    display: inline-block;
    position: absolute;
    text-align: center;
    vertical-align: center;
    font-size: 30px;
  }
  .header .inner .menu {
    display: none;
    height: auto;
    position: absolute;
    float: right;
  }
  .header .inner a#trigger {
    display: block;
    background-color: #22B8D0;
    width: 100%;
    padding-left: 15px;
    line-height: 80px;
    position: relative;
  }
  .header .inner a#trigger::after {
    content: "";
    background: url("../images/nav.png") no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
  }  
}

/* About Me - My Name */

.myname {
  position: relative;  
  width: 100%; 
  min-width:300px; 
  margin: 0 auto;
  padding: 120px 100px 20px;
  box-sizing: border-box;
  color: rgb(39, 36, 39);
  font-family: 'Noto Sans KR';
  font-weight: 400;
  text-align: center;
}
.myname .inline_block {
  text-align: left;
}
.myname .inline_block span{
  font-size: 40px;
}

.myname .photos {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  /* background: cyan; */
}
.myname .photos .photo {
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid rgb(159, 193, 241);
}
.myname .photos .photo:first-child {
  margin-right: -80px;
}
.myname .photos .photo img {
  width: 100%;
  height: 100%;
}

.myname .desc {  
  margin: 0 auto;
  margin-top: 30px;
  padding: 30px 0;
  position: relative;
  max-width: 900px;
  /* min-width:300px; */

  display: flex;
  justify-content: center;
  align-items: center;
  word-break: keep-all;
  

  color: #111;
  font-size: 20px;
  text-shadow: 1px 1px 0 #74c5d1;  
  /* background: rgba(200,200,200,0.5); */
  border-radius: 10px;
  /* background: yellow; */
}

.myname .inline_block{
  /* max-width: 1100px; */
  margin: 0 auto;  
  padding: 100px;

  display: flex;  
  flex-wrap: wrap;
  justify-content: space-between;
}
.myname .inline_block .el{
  margin: 10px;
  flex-shrink:0;
}
.myname .inline_block .el span{
  font-size: 24px;
}
.myname .inline_block .el p{
  font-size: 18px;
}
.myname .inline_block .el a{
  font-size: 18px;
  color: black;
  text-shadow:none;
  text-decoration: none;
}

@media screen and (max-width:761px){
  .myname .inline_block{
    /* max-width: 1100px; */
    margin: 0 auto;  
  
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
  }
  .myname .inline_block .el{
    margin: 0 auto;
    flex-shrink:0;
    width: 300px;
  }
}


/* skill_group */

.skill_group {
  /* background-color: rgba(194, 203, 224, 0.5); */
  position: relative;
  margin: 0 auto;
  padding: 20px 0 60px;
  align-items: center;
  border: 1px dashed lightgray;
  
}
.skill_group h2 {
  font-weight: 700;
  padding: 80px 0 50px;
  color: rgb(39, 36, 39);
  text-align: center;
}
.skill_group .inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 40%;
  /* min-width: 700px; */
  /* background-color: gray; */
  border-radius: 10px;
  padding: 5px;
}
.skill_group .inner .skills {
  display: flex;
  align-items: center;
  flex-shrink:0;
  flex-wrap: wrap;

  font-size: 1.0rem;
  font-weight: 400;
  /* line-height: 3rem; */
  /* margin: 4px 0; */
  /* background-color: rgb(180, 248, 248); */
  width: 97%;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  box-sizing: border-box;
}
.skill_group .inner .skills:nth-child(4) {
  color: #878787;
}
.skill_group .inner .skills:nth-child(4) h4 {
  color: #878787;
}

.skill_group .inner .skills h4{
  text-decoration: underline;
}
.skill_group .inner .skills .contents {
  width: 100%;
  display: flex;
  flex-shrink:0;
  flex-wrap: wrap;
  /* justify-content: center; */
}
.skill_group .inner .skills .contents .el{
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;

  background-color: #74c5d1;
  margin: 5px;
  padding: 5px 15px 5px;
  border-radius: 5px;
  
}
.skill_group .inner .skills .contents .el img {
  display: inline-block;
  height: 30px;
  /* padding: 6px; */
  margin: auto;
  padding:0;
}
.skill_group .inner .skills .contents .el span{
  display: block;
  width: 60%;
}
@media screen and (max-width: 721px) { 
  .skill_group{
    width: 100%;
  }
  .skill_group .inner{
    width:100%;
    max-width: none;
  }
}

/* Archiving */
.archiving{
  margin: 0 auto;
}
.archiving h2{
  padding: 80px 0 50px;
  text-align: center;
  font-weight: 700;
}
.archiving .inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
}
.archiving .inner a {
  width: 300px;
  margin: 5px;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
  display: flex;
  justify-content: center;  
  flex-wrap: wrap;  
  box-sizing: border-box;
}
.archiving .inner a .image{
  width: 100%;
  height: 70px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 5px auto;
  text-align: center;
}
.archiving .inner a:nth-child(1) .image{
  background-image: url("../images/my_github.png");
}
.archiving .inner a:nth-child(2) .image{
  background-image: url('../images/my_tistory.png');
}
.archiving .inner a .contents h3{
  color: royalblue;
  font-weight: 400;
  text-shadow: none;
  text-align: center;
}
.archiving .inner a .contents li{
  font-weight: 400;
  text-shadow: none;
  list-style-type: circle;
  list-style-position: inside;
  padding-left: -15px;
  line-height: 30px;
}

/* Projects */

.projects{
  width: 100%;
}
.projects h2 {
  padding: 80px 0 50px;
  text-align: center;
  font-weight: 700;
}
.projects .inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
}
.projects .inner .project_item {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 10px 10px 30px;
  cursor: pointer;
}
.projects .inner .project_item a {
  display: flex;
}

.projects .inner .project_item a .image {
  /* background-color: rgba(204, 204, 202, 0.8); */
  width: 400px;
  height: 300px;
  margin: 5px;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  box-sizing: border-box;
  overflow: hidden;
  background-size: 280px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  /* flex-shrink: none; */
  /* position: relative; */
  border: 1px solid #ccc;
}
.projects .inner .project_item:nth-child(1) .image {
  background-image: url("../images/gatsby.png");
}
.projects .inner .project_item:nth-child(2) .image {
  background-image: url("../images/willys.jpg");
}
.projects .inner .project_item:nth-child(3) .image {
  background-image: url("../images/willog.jpg");
}
.projects .inner .project_item:nth-child(4) .image {
  background-image: url("../images/svelte_omdb.jpg");
}
.projects .inner .project_item:nth-child(5) .image {
  background-image: url("../images/starbugs.png");
}
.projects .inner .project_item:nth-child(6) .image {
  background-image: url("../images/pyblog.png");
}
.projects .inner .project_item a .contents {
  width: 500px; 
  text-shadow: none;
  font-size: 20px;
  padding: 15px;
  box-sizing: border-box;
}


@media screen and (max-width: 721px) {
  .projects {
    /* background-color: rgba(223, 227, 236, 0.5); */
    position: relative;
    margin: 0 auto;
    padding: 20px 0 60px;
    align-items: center;
    border: 1px dashed lightgray;
  }
  .projects h2 {
    font-weight: 700;
    padding: 80px 0 50px;
    color: rgb(39, 36, 39);
    text-align: center;
    width: 100%;
  }
  .projects .inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width:none;
    /* width: 700px;     */
  }
  .projects .inner .project_item{
    margin:0 auto;
  }
  .projects .inner .project_item a{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width:400px;
  }
  .projects .inner .project_item a .image {    
    height: 250px;
    margin: 5px;
    flex-shrink: 0;
  }
  .projects .inner .project_item a .contents {    
    margin: 15px;
    flex-shrink: 0.5;
    font-size: 16px;
    width: 100%;
  }
}


/* About */
.about {
  position: relative;
  padding: 20px 0 60px;
  color: rgb(39, 36, 39);
  border: 1px dashed lightgray;
  /* background-color:rgb(221, 215, 215) */
}
.about h2 {
  padding: 80px 0 50px;
  text-align: center;
  font-weight: 700;
}
.about .description {
  width: 70%;
  margin: 0 auto;
  font-size: 24px;
}
.about .description .abstract {
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
}
.about .description .sub_title {
  font-size: 30px;
}
.about .description p {
  font-size: 24px;
  color: #444;
}
.about .description p span {
  font-weight: 700;
  font-size: 30px;
}
.about .description ul li {
  font-size: 24px;
}
@media screen and (max-width: 721px) {
  .about {
    width: 100%;
  }
  
  .about .description {
    font-size: 24px;
    width: 90%;
    margin: 0 auto;
  }
  .about .description .abstract {
    font-weight: 700;
    font-style: italic;
    text-align: center;
  }
  .about .description .sub_title {
    font-size: 18px;
  }
  .about .description p {
    font-size: 20px;
    color: #444;
  }
  .about .description p span {
    font-weight: 700;
    font-size: 24px;
  }
  .about .description ul li {
    font-size: 18px;
  }
}

/* Contact */
.contacts {
  position: relative;
  /* background-color: rgba(223, 227, 236, 0.5); */
  /* height: 70px; */
  margin: auto;
  padding: 30px 0 30px;
}
.contacts h2 {
  font-weight: 700;
  padding: 80px 0 40px;
  color: rgb(39, 36, 39);
  /* color: cyan; */
  text-align: center;
}
.contacts .inner {
  display: flex;
  justify-content: center;
}
.contacts .inner ul li {
  color: black;
}
.contacts .inner ul li img {
  width: 30px;
  background-color: #ccc;
  padding: 3px;
  margin: 5px;
  border-radius: 15px;
  vertical-align: middle;
  transition: 0.5s;
}
.contacts .inner ul li a {
  color: black;
  text-shadow: none;
}
.contacts .inner ul li:hover {
  background-color: rgb(110, 88, 235);
  border-radius: 5px;
}
#to-top {
  width: 42px;
  height: 42px;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}
#to-top .material-icons {
  color: #fff;
}
