.header {
    color: #999;
    margin: 50px;
}
.header a {
    text-decoration: none;
    padding: 15px;
    background-color: orange;
}

.main {
    background-color: #c8c8c8;    
    display: flex;
    justify-content: center;
}

.main .lower,
.main .middle,
.main .upper {    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    width: 1800px;    
    background-color: palegoldenrod;
}

.main .production {   
    width: 700px;
    height: 350px;       
    margin: 5px 20px 20px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #f3f3f3;         
    box-sizing: border-box;
    overflow: hidden;    
}
.main .production .image {  
    /* width: 400px;  
    height: 225px;
    width: 600px;  
    height: 338px; */
    width: 100%;   
    height: 100%;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: 700px;      
}
.main .production:nth-child(1) .image { background-image: url("./visualboard/1.png")}
.main .production:nth-child(2) .image { background-image: url("./visualboard/2.png")}
.main .production:nth-child(3) .image { background-image: url("./visualboard/3.png")}
.main .production:nth-child(4) .image { background-image: url("./visualboard/4.png")}
.main .production:nth-child(5) .image { background-image: url("./visualboard/5.png")}
.main .production:nth-child(6) .image { background-image: url("./visualboard/6.png")}
.main .production:nth-child(7) .image { background-image: url("./visualboard/7.png")}
.main .production:nth-child(8) .image { background-image: url("./visualboard/8.png")}
.main .production:nth-child(9) .image { background-image: url("./visualboard/9.png")}

.main .production2 {   
    /* width: 400px;  
    height: 225px;
    width: 600px;  
    height: 338px; */
    width: 400px;
    height: 225px;       
    margin: 5px 20px 20px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #f3f3f3;         
    box-sizing: border-box;
    overflow: hidden;    
}
.main .production2 .image { 
    
    width: 100%;   
    height: 100%;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400px;      
}
.main .production2:nth-child(1) .image { background-image: url("./visualboard/1.png")}
.main .production2:nth-child(2) .image { background-image: url("./visualboard/2.png")}
.main .production2:nth-child(3) .image { background-image: url("./visualboard/3.png")}
.main .production2:nth-child(4) .image { background-image: url("./visualboard/4.png")}
.main .production2:nth-child(5) .image { background-image: url("./visualboard/5.png")}
.main .production2:nth-child(6) .image { background-image: url("./visualboard/6.png")}
.main .production2:nth-child(7) .image { background-image: url("./visualboard/7.png")}
.main .production2:nth-child(8) .image { background-image: url("./visualboard/8.png")}
.main .production2:nth-child(9) .image { background-image: url("./visualboard/9.png")}
